<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>

    <!-- Latest Mars News -->
    <div class="row">
      <div class="col-md-12">
        <h3>Latest Mars News</h3>
        <h5>{{mars.news_title}}</h5>
        <small>{{mars.news_p}}</small>
      </div>
    </div>

    <!-- Featured Mars Image and Mars Data table -->
    <div class="row">
        <div class="col-md-8">
            <h3>Featured Mars Image</h3>
            <img src="{{ mars.featured_image_url }}" alt="Mars_Featured">
        </div>
        <div class="col-md-4">
            <h5>Mars Facts</h5>
            <div>
            {{mars.mars_table}}
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- Mars Hemispheres -->
    <h4 style="text-align:center">Mars Hemishpheres</h4>
    <hr>
    <div class="row">
      {% for x in mars.hemisphere_image_urls %}
        <div class="col-md-6">
          <img src="{{ x.img_url }}" alt="x.title" width="550px" height="550px">
          <p>{{x.title}}</p>
        </div>
      {% endfor %}
    </div>

  </div>

</body>

</html>